#index {
  height: 100%;
}
[data-position="right"] {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  transform: translateX(100%);
  -webkit-transform: translateX(100%);
  z-index: 15;
  z-index: 100; /* -> drawer */
}
section[role="region"][data-position="right"] {
  position: absolute;
}
[data-position="right"].current {
  animation: rightToCurrent 0.4s forwards;
  -webkit-animation: rightToCurrent 0.4s forwards;
}
[data-position="right"].right {
  animation: currentToRight 0.4s forwards;
  -webkit-animation: currentToRight 0.4s forwards;
}
[data-position="current"].left {
  animation: currentToLeft 0.4s forwards;
  -webkit-animation: currentToLeft 0.4s forwards;
}
[data-position="current"].current {
  animation: leftToCurrent 0.4s forwards;
  -webkit-animation: leftToCurrent 0.4s forwards;
}
[data-position="back"] {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  z-index: -1;
  opacity: 0;
  /* z-index: 100; -> drawer */
}
[data-position="back"].fade-in {
  z-index: 120;
  animation: fadeIn 0.2s forwards;
  -webkit-animation: fadeIn 0.2s forwards;
}
[data-position="back"].fade-out {
  animation: fadeOut 0.2s forwards;
  -webkit-animation: fadeOut 0.2s forwards;
}

[data-position="edit-mode"] {
  position: absolute;
  top: -5rem;
  left: 0;
  right: 0;
  bottom: -7rem;
  z-index: -1;
  opacity: 0;
  transition: all 0.3s ease;
}
[data-position="edit-mode"].edit {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  z-index: 120;
  opacity: 1;
}

/* Active state */
.active {
  background-color: #b2f2ff;
  color: #fff;
}

/* Drawer */
section[role="region"]:not(#drawer) {
  transition: none;
  left: 0;
  z-index: 0;
  padding-left: 0;
}
section[data-type="sidebar"] + section[role="region"] > header:first-child > button,
section[data-type="sidebar"] + section[role="region"] > header:first-child > a {
  background-position: 3.5rem center;
}

/* Seek bars */
div[role="slider"] > label.icon {
  background: no-repeat right top;
  background-size: 3rem auto;
}

/* Device rotation */
.landscape section[role="region"]#drawer > header:first-child {
  /* Whatever needs to be changed on landscape */
}

#focusCircle {
  border-right: 2px solid black;
  border-bottom: 2px solid black;
  position: absolute;
  display: inline;
  background-color: window;
  -webkit-border-radius: 50%;
  -moz-border-radius: 50%;
  border-radius: 50%;
  opacity: 0.1;
}
